<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/Acerca.css">
</head>
<body>
    <header class="cabeca">
        <h3 class="logo"><small>.</small><span>Bega</span>sHu<span>b</span></h3>
        <nav class="navbar">
            <ul class="nav_item">
                <li class="nav_link"><a href="/">Home</a></li>
                <li class="nav_link"><a href="/cardapio">Our Cardapio</a></li>
                <li class="nav_link"><a href="/localizacao">Our Localização</a></li>
                <li class="nav_link"><a href="/acerca">Acerca</a></li>
                <button class="btn_cadastro" type="submit"><a href="/cadastro">cadastrar</a> </button>
            </ul>
        </nav>
        <div class="hamburguer">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>

    <section class="objectivo_projecto">
        <div class="object_conteudo">
            <div class="cardObjectivo">
                <img src="/img/familia.jpg" width="400px">
            </div>
            <div class="cardObjectivo">
                <h1>Nosso Objectivo</h1>
                <p>
                    Hambúrguer: Um guia completo para o sanduíche favorito do mundo!
                    O hambúrguer, um clássico atemporal, transcende culturas e gerações, conquistando paladares com sua simplicidade e infinitas possibilidades de personalização.
                    
                    Origem e História:
                    
                    Embora suas origens sejam incertas, o hambúrguer moderno remonta ao final do século XIX, nos Estados Unidos. Hambúrgueres de carne moída eram servidos em feiras e carrinhos de comida, ganhando popularidade por sua praticidade e preço acessível. Com o tempo, o sanduíche evoluiu, incorporando pães, queijos, molhos e acompanhamentos variados, tornando-se um símbolo da cultura americana.
                    
                </p>
            </div>
        </div>
    </section>

    <section class="verde">
        <div class="Qualidade">
            <h1> Oferecemos Boa Qualidaes Nos Nossos Produtos</h1>
        </div>

        <div class="card_objecto">
            <div class="card_obj">
                <h3>2</h3>
                <p>Entregas</p>
            </div>
            <div class="card_obj">
                <h3 >2</h3>
                <p>Pedidos</p>
            </div>
            <div class="card_obj">
                <h3  id="reclames">0</h3>
                <p >Reclamações</p>
            </div>
        </div>
    </section>

    <section class="begave">
        <div class="title"><h1>Histórico Da Empresa</h1></div>
        <div class="begas_card">
            <div class="begas" >
                <img src="/img/chefe.PNG" alt="">
            </div>
            <div class="begas">
                <p>Anatomia do Hambúrguer Perfeito:

                    Pão: A base do hambúrguer, pode ser macio, crocante, com gergelim, integral, brioche, e muito mais. A escolha ideal depende da preferência pessoal e do tipo de hambúrguer.
                    Carne: O coração do hambúrguer, geralmente feito de carne bovina moída, mas também pode ser de frango, porco, cordeiro, carne vegetal ou até mesmo peixe. A qualidade da carne é fundamental para o sabor e a suculência do hambúrguer.
                    Queijo: Um toque de cremosidade e sabor, o queijo complementa a carne perfeitamente. Cheddar, mussarela, gorgonzola, provolone, as opções são infinitas!
                    Molhos: A alma do hambúrguer, os molhos adicionam umidade, sabor e personalidade. Ketchup, mostarda, maionese, barbecue, pesto, guacamole, experimente e encontre seus favoritos!
                    Acompanhamentos: Para finalizar com chave de ouro, os acompanhamentos complementam a textura e o sabor do hambúrguer. Alface, tomate, cebola, picles, bacon, ovo frito, as combinações são infinitas!
                    Tipos de Hambúrgueres:
                    
                    Clássico: Pão, carne, queijo, alface, tomate, cebola e molho. Um sabor atemporal que nunca sai de moda.
                    Gourmet: Combinações inusitadas de ingredientes, como carne de Kobe, queijo brie, rúcula e molho de trufas. Uma explosão de sabores para os paladares mais exigentes.
                    Vegetariano/Vegano: Substitui a carne por opções como falafel, lentilha, grão de bico ou hambúrgueres de soja. Uma alternativa saborosa e nutritiva para quem não consome carne.
                    Mini: Hambúrgueres em miniatura, perfeitos para aperitivos, festas ou porções individuais. Uma delícia em tamanho reduzido.
                    Harmonização com Bebidas:
                    </p>
                <button type="submit" class="recl" id="recl"><a href="reclames">Avaliar</a></button>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="footer2">

            <div class="card_footer">
                <h3 class="logo2"><small>.</small><span>Bega</span>sHu<span>b</span></h3>
                <div>
                    <p>
                        O hambúrguer é mais do que apenas um sanduíche, é uma experiência culinária que une pessoas, culturas e sabores. Seja simples ou gourmet, o hambúr

                    </p>
                </div>
            </div>
            <div class="card_footer">
                <h6>Redes Sociais</h6>
                <div>
                    <p>Facebook</p>
                    <p>Instagram</p>
                    <p>LinkDin</p>

                </div>
            </div>
            <div class="card_footer"><h6>Contactos</h6>
                <div>
                    <p>begashub@gmail.com</p>
                    <p>999999999</p>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/index.js" ></script>
</body>
</html>