<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div>
        <form action="/cadhamb" method="post">
            <div>
                <label>
                    Nome_P:
                </label>
               <input type="text" name="nome">
            </div>
            <br>
            <div>
                <label>
                    Detalhe:
                </label>
                <textarea rows="7" col="10" name="detalhe"></textarea>
            </div>
            <br>
             <div>
                 <label>
                     Preço:
                 </label>
                 <input type="number" name="preco">
             </div>
                <br>
            <button type="submit">Enviar</button>
         </form>
   </div>

</body>
</html>